<th:block th:fragment="footer-fragment" xmlns:th="http://www.thymeleaf.org">
    <div class="ui">
        <div class="ui large fluid violet submit button" id="quit-button"
             th:if="${session.login.nickname != room.master.nickname && !room.isReady()}">나가기
        </div>

        <div class="ui segment large fluid violet submit button" id="delete-room-button"
             th:if="${session.login.nickname == room.master.nickname && !room.isReady()}">방 없애기
        </div>

        <div class="ui segment large fluid violet submit button" id="update-room-button"
             th:if="${session.login.nickname == room.master.nickname && !room.isReady()}"
             th:onclick="'window.location.href=\'/rooms/update-room/' + ${room.id} + '\''">방 정보 수정
        </div>

        <div class="ui large fluid submit button" disabled
             th:if="${room.isReady()}">
            게임이 시작되었습니다
        </div>
    </div>
</th:block>